<ion-tabs class="ion-tabs">
  <ion-tab [root]="tab1Root" tabTitle="Сегодня" tabIcon="pin"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="День" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Месяц" tabIcon="archive"></ion-tab>
</ion-tabs>
