<!-- Generated template for the SegmentsListComponent component -->

<!--<div>-->
  <!--<ion-item-group>-->

      <!--<ion-item-divider color="light">A</ion-item-divider>-->
      <!--<ng-container *ngFor="let segm of _shopReportDataService._segmentsList">-->
        <!--<ion-item>{{segm['segmentName']}}</ion-item>-->
      <!--</ng-container>-->
  <!--</ion-item-group>-->
<!--</div>-->
<div class="segment-header">
    <span>Выберите сегмент</span>
  </div>
<div>
  <ion-item class="all-segments" (click)="pickAllSegments()">
    По всем сегментам
  </ion-item>

  <ion-list *ngIf="!load">
    <ng-container *ngFor="let head of listValues">
      <ion-list-header>
        {{head['header']}}
      </ion-list-header>
      <ng-container *ngFor="let item of _shopReportDataService._segmentsList">
        <ion-item (click)="segmentIsClicked(item)" *ngIf="item['firstNumb'] >= head['header'] && item['firstNumb'] < head['header'] + 100">
          {{item['segmentName']}}
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
  <div *ngIf="load" class="spinner" padding>
      <ion-spinner name="crescent" class="ionic-spinner"></ion-spinner>
  </div>
</div>
