$light-blue: #e3f2fd;
$light-green: #e8f5e9;
.material-shadows {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
segments-list {
  .list-header-md {
    margin-bottom: 0;
    border-top: none;
    color: color($colors, 'primary');
    font-weight: 900;
    background-color: $light-green;
    font-size: 20px;
    @extend .material-shadows
  }
  ion-item:last-child {
    border-bottom: none;
  }
  .list-md .item-block .item-inner {
    border: none;
  }
   ion-item.item.item-block.item-md {
     background-color: $light-blue;
     @extend .material-shadows
   }
  ion-item.item.item-block.item-md:first-child {
    background-color: $light-green;
  }
  .all-segments {
    margin-bottom: 5px;
  }
  .segment-header {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    color: color($colors, 'secondary');
  }
}
