dinamics {
  $light-blue: #e3f2fd;
  $light-green: #e8f5e9;
  .material-shadows {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }
  .head_text {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    color: color($colors, primary);
    text-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }

  .nv-bar.positive{
    color: transparent;
  }
  .plan-execution-chart {
    position: relative;
    background-color: #e3f2fd;
    @extend .material-shadows;
    padding-top: 16px;
    .button {
      position: absolute;
      top: 15%;
      right: 5%;
    }

  }
  .nvd3 .nv-axis .zero line, .nvd3 .nv-axis line.zero {
  stroke: color($colors, 'secondary');;
  stroke-width: 2;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  opacity: 1;

  }
  .nvd3 .nv-axis line {
    stroke-width: 1;
    opacity: 0.5;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);

  }
  .nvd3 .nv-axis path.domain {
    stroke-width: 2;
    stroke: color($colors, 'secondary');
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }
  .nvd3 .nv-groups path.nv-line {
    stroke-width: 3;
  }
  .nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text {
    font-weight: normal;
    font-size: 14px;
  }

  .nvtooltip.xy-tooltip {
    background-color: $light-green;
    padding: 10px;
    @extend .material-shadows;
    font-size: 14px ;
  }

}
