<!-- Generated template for the DinamicsComponent component -->
  <div *ngIf="load" class="spinner" padding>
    <ion-spinner name="crescent" class="ionic-spinner"></ion-spinner>
  </div>

  <div *ngIf="!load">
    <div class="plan-execution-chart">
      <div class="head_text">
        <span class="name">{{_mode}} по {{shopsDataRev[0]['name']}}</span> <br>
        <span class="period">({{periodSt}} - {{periodEnd}})</span>
      </div>
      <app-nvd3 [options]="options" [data]="data"></app-nvd3>
      <div class="button">
        <button ion-button (click)="returnButton()" color="secondary">
        <ion-icon name="arrow-round-back"></ion-icon>
        </button>
      </div>
    </div>
  </div>

