<!--
  Generated template for the TodayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the DayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--Иконки в шляпе-->
<ion-header>
  <div padding>
    <ion-segment>
      <ng-container *ngFor="let but of buttons">
        <button ion-button class="ionic-button" [color]="but['color']" (click)="changeMode(but['name'])">
          <ion-icon [name]="but['icon']"></ion-icon>
        </button>
      </ng-container>
    </ion-segment>
  </div>
</ion-header>
<ion-content>

  <div *ngIf="!segmSwitch && !load">
    <div class="pickers" padding>
      <div class="dataPicker">
        <ion-item>
          {{_shopReportDataService._curTime}}
        </ion-item>
      </div>
      <div class="segmentPicker">
        <button ion-button [color]="segmentButColor" (click)="switchMenu()" *ngIf="shopMode !== 'График'">
          <ion-icon name="menu" *ngIf="!_shopReportDataService._segmentChosen['firstNumb']"></ion-icon>
          <ion-icon *ngIf="_shopReportDataService._segmentChosen">{{_shopReportDataService._segmentChosen['firstNumb']}}</ion-icon>
        </button>
        <button ion-button *ngIf="shopMode === 'График' && (_shopReportDataService._shopMode==='План' || _shopReportDataService._shopMode==='ПланПериод')"
                (click)="changeChartMode('План')">
          <ion-icon name="time" *ngIf="_shopReportDataService._shopMode==='План'"></ion-icon>
          <ion-icon name="calendar" *ngIf="_shopReportDataService._shopMode==='ПланПериод'"></ion-icon>
        </button>
      </div>
    </div>
     <!--Таблица-->
    <div class="table" padding *ngIf="!load && shopMode !== 'График'">
      <table>
        <thead>
          <tr>
            <ng-container *ngFor="let head of tableVals['headers']">
              <th colspan="2" *ngIf="head === 'ТО/Доля рынка р'">{{head}}</th>
              <th *ngIf="head !== 'ТО/Доля рынка р'">{{head}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let shop of summaryData">
          <tr>
            <ng-container *ngFor="let name of tableVals['values']">
              <td *ngIf="name === 'shopNumb'">{{shop[name]}}</td>
              <td *ngIf="name === 'amountper'">{{shop[name] | numFormat: 'toFixed2' }}</td>
              <td *ngIf="name !== 'shopNumb' && name !== 'amountper'">{{shop[name] | numFormat: 'toFixed0' | numFormat: 'numSpace'}}</td>
            </ng-container>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

    <!--Загрузчик-->
    <div *ngIf="load" class="spinner" padding>
      <ion-spinner name="crescent" class="ionic-spinner"></ion-spinner>
      <span class="loader-percent">{{(_requestBlockScreenService.counter / _requestBlockScreenService.maxCounter * 100) | numFormat: 'toFixed0'}}%</span>
    </div>

  <!--Сегменты-->
  <div *ngIf="segmSwitch" padding>
    <segments-list (newSegment)="clickedSegment()"></segments-list>
  </div>
  <div *ngIf="shopMode === 'График' && !load" padding>
    <plan-execution-chart (isDownloaded)="chartIsReady()"></plan-execution-chart>
  </div>
</ion-content>
