<!-- Generated template for the PlanExecutionChartComponent component -->
<div *ngIf="load" class="spinner" padding>
      <ion-spinner name="crescent" class="ionic-spinner"></ion-spinner>
      <span class="loader-percent">{{(_requestBlockSrceenService.counter / _requestBlockSrceenService.maxCounter * 100) | numFormat: 'toFixed0'}}%</span>
</div>
<div *ngIf="!load">
  <div class="plan-execution-chart">
    <app-nvd3 [options]="options" [data]="data"></app-nvd3>
  </div>
</div>
