<!--
  Generated template for the MonthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div padding>
    <ion-segment>
      <ng-container *ngFor="let but of buttons">
        <button ion-button class="ionic-button" [color]="but['color']" (click)="changeMode(but['name'])">
          <ion-icon [name]="but['icon']"></ion-icon>
        </button>
      </ng-container>
    </ion-segment>
  </div>
</ion-header>
<ion-content>
  <div *ngIf="!segmSwitch">
    <div class="pickers" padding>
      <div class="dataPicker">
        <ion-item>
          <!--<ion-label>Выбранный месяц</ion-label>-->
          <ion-datetime
            displayFormat="MMMM YYYY"
            pickerFormat="MMMM YYYY"
            [(ngModel)]="_shopReportDataService._monthChosen"
            [monthNames]="dpMonthNames"
            [monthShortNames]="dpShortMonthNames"
            doneText="Выбрать"
            cancelText="Отменить"
            [max]="_shopReportDataService.maxDay"
            (ionChange)="dateIsChanged()"
          ></ion-datetime>
        </ion-item>
      </div>
      <div class="segmentPicker">
        <button ion-button [color]="segmentButColor" (click)="switchMenu()">
          <ion-icon name="menu" *ngIf="!_shopReportDataService._segmentChosen['firstNumb']"></ion-icon>
          <ion-icon *ngIf="_shopReportDataService._segmentChosen['firstNumb']">{{_shopReportDataService._segmentChosen['firstNumb']}}</ion-icon>
        </button>
      </div>
    </div>
    <div class="table" padding *ngIf="!load">
      <table>
        <thead>
          <tr>
            <ng-container *ngFor="let head of tableVals['headers']">
              <th>{{head}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let shop of shopsData">
          <tr>
            <ng-container *ngFor="let name of tableVals['values']">
              <td *ngIf="name === 'name'">{{shop[name].slice(-2)}}</td>
              <td *ngIf="name !== 'name'">{{shop[name] | numFormat: 'toFixed2' | numFormat: 'numSpace'}}</td>
            </ng-container>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="load" class="spinner" padding>
      <ion-spinner name="crescent" class="ionic-spinner"></ion-spinner>
      <span class="loader-percent">{{(_requestBlockScreenService.counter / _requestBlockScreenService.maxCounter * 100) | numFormat: 'toFixed0'}}%</span>
  </div>
   <!--Сегменты-->
  <div *ngIf="segmSwitch" padding>
    <segments-list (newSegment)="clickedSegment()"></segments-list>
  </div>

</ion-content>
