<!--
  Generated template for the DayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--Иконки в шляпе-->
<ion-header>
  <div padding>
    <ion-segment>
      <ng-container *ngFor="let but of buttons">
        <button ion-button class="ionic-button" [color]="but['color']" (click)="changeMode(but['name'])">
          <ion-icon [name]="but['icon']"></ion-icon>
        </button>
      </ng-container>
    </ion-segment>
  </div>
</ion-header>
<ion-content>

  <!--Выбор даты и сегмента-->
  <div *ngIf="!segmSwitch && shopMode !== 'График' && !dinamicChart">
    <div class="pickers" padding>
      <div class="dataPicker">
        <ion-item>

          <!--<ion-label>Выбранная дата</ion-label>-->
          <ion-datetime
            displayFormat="DD MMMM YYYY"
            pickerFormat="DD MMM YYYY"
            [(ngModel)]="_shopReportDataService._dateChosen"
            [monthNames]="dpMonthNames"
            [monthShortNames]="dpShortMonthNames"
            doneText="Выбрать"
            cancelText="Отменить"
            [max]="_shopReportDataService.maxDay"
            (ionChange)="dateIsChanged()"
          ></ion-datetime>
        </ion-item>
      </div>
      <div class="segmentPicker">
        <button ion-button [color]="segmentButColor" (click)="switchMenu()">
          <ion-icon name="menu" *ngIf="!_shopReportDataService._segmentChosen['firstNumb']"></ion-icon>
          <ion-icon *ngIf="_shopReportDataService._segmentChosen['firstNumb']">{{_shopReportDataService._segmentChosen['firstNumb']}}</ion-icon>
        </button>
      </div>
    </div>

    <!--Таблица-->
    <div class="table" padding *ngIf="!load">
      <ng-container *ngFor="let tbl of tableVals">
      <table *ngIf="tbl['mode'] === shopMode">
        <thead>
          <ng-container *ngFor="let item of sumData">
            <tr *ngIf="item['mode'] === shopMode">
              <ng-container *ngFor="let val of item['data']; let i = index">
                <th *ngIf="i ==0">{{val}}</th>
                <th *ngIf="i ==1 && tbl['mode'] === 'Маржа'">{{val | numFormat:'toFixed2'}}</th>
                <th *ngIf="i ==1 && tbl['mode'] !== 'Маржа'">{{val | numFormat:'toFixed0' | numFormat:'numSpace'}}</th>
                <th *ngIf="i ==2">{{val | numFormat: 'toFixed2'}}</th>
              </ng-container>
            </tr>
          </ng-container>
          <tr>
            <ng-container *ngFor="let head of tbl['headers']">
              <th>{{head}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let shop of shopsData">
          <tr>
            <ng-container *ngFor="let name of tbl['values']; let i = index">
              <td *ngIf="i == 0">
                <span *ngIf="shop[name]">{{(shop[name]).slice(-2)}}</span>
                <span *ngIf="!shop[name]">{{shop['segmentName'].slice(0, 3)}}</span></td>
              <td *ngIf="i == 1" (click)="clickShopSegm(shop)">
                <ion-icon name="arrow-round-forward" class="arrow"></ion-icon>
                <span *ngIf="tbl['mode'] === 'Маржа' || tbl['mode'] === 'Проникновение'">{{shop[name]| numFormat: 'toFixed2' }}</span>
                <span *ngIf="tbl['mode'] !== 'Маржа' && tbl['mode'] !== 'Проникновение'">{{shop[name]| numFormat: 'toFixed0' | numFormat: 'numSpace'}}</span>
              </td>
              <td *ngIf="i == 2" (click)="showDinamics(shop, name)">
                <ion-icon name="arrow-round-forward" class="arrow"></ion-icon>
                <span [ngClass]="{'color-red': name.includes('prog') && shop[name] <= -3, 'color-green': name.includes('prog') && shop[name] >= 10}">
                  {{shop[name] | numFormat: 'toFixed2' | numFormat: 'numSpace'}}
                </span>
              </td>
            </ng-container>
          </tr>
        </ng-container>
        </tbody>
      </table>
      </ng-container>
    </div>

    <!--Загрузчик-->
    <div *ngIf="load" class="spinner" padding>
      <ion-spinner name="crescent" class="ionic-spinner"></ion-spinner>
      <span class="loader-percent">{{(_requestBlockScreenService.counter / _requestBlockScreenService.maxCounter * 100) | numFormat: 'toFixed0'}}%</span>
    </div>
  </div>

  <!--Сегменты-->
  <div *ngIf="segmSwitch" padding>
    <segments-list (newSegment)="clickedSegment()"></segments-list>
  </div>
  <div *ngIf="shopMode === 'График'" padding>
    <plan-execution-chart></plan-execution-chart>
  </div>

  <!--Динамика-->
  <div *ngIf="dinamicChart" padding>
    <dinamics (returnBack)="hideDinamics($event)" [chartVal]="chartVal" [_mode]="shopMode"></dinamics>
  </div>
</ion-content>
