$padding-cells: 5px;
$spinner-md-crescent-color: #456987;

.material-shadows {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
page-day {
  ion-header {
    background-color: $tabs-background;
  }
 ion-segment {
   //position: fixed;
   .ionic-button{
    margin: auto;
    //margin-top: 3%;
    //margin-bottom: 3%;
  }
 }
  table {
    width: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 1.4rem;
    text-align: center;
    border-collapse: collapse;
    //background-color: $tabs-background;
    @extend .material-shadows;
    .arrow {
      position: absolute;
      left: 5%;
      vertical-align: middle;
      color: #757575;
    }
  }
  th {
    border: 1px solid $list-border-color;
    border-top: none;
    padding: $padding-cells;
  }
  th:first-child {
    border-left: none;
  }
  th:last-child {
    border-right: none;
  }
  td {
    border: 1px solid $list-border-color;
    border-bottom: none;
    padding: $padding-cells;
    position: relative;
  }
  td:first-child {
    border-left: none;
  }
  td:last-child {
    border-right: none;
  }
  tr:nth-child(even) {
    //background-color: $tabs-background;
    background-color: #e8f5e9;
  }
  //thead {
  //  tr {
  //    background-color: white;
  //  }
  //}
  .dataPicker {
    width: 50%;
    float: left;
   .item-md {
      padding-left: 0;
    }
    .datetime-md {
      padding: 0;
    }
  }
  .pickers {
    height: 12vh;
  }
  .segmentPicker {
    float: right;
  }
  .table {
    padding-top: 0 !important;
  }
  ion-spinner * {
    width: 200px;
    height: 200px;
    text-align: center;
    stroke: color($colors, 'primary') !important;
    fill: color($colors, 'primary');
  }
  .spinner {
    width: 100%;
    position: relative;
  }
  .ionic-spinner {
    margin-left: 20%;
    margin-top: 10%;
  }
  .dataPicker .datetime-md {
    margin: auto;
    float: none;
  }
  .loader-percent {
    position: absolute;
    left: 45vw;
    top: 20vh;
    color: color($colors, 'secondary');
    font-size: 20px;
    font-weight: 700;
  }
  .color-red {
    color: red
  }
  .color-green {
    color: green
  }
}
